<!DOCTYPE html>
 
<html xmlns:th="http://www.thymeleaf.org">
 
<head th:replace="layouts :: _header"></head>

<body>
	<!-- details defined in layouts.html with th:fragment="_navbar" -->
	<nav th:replace="layouts :: _navbar"></nav>
<div class="container">

	<h3>Main Dashboard</h3>
	<a th:text="${versionNumber}"></a>
		<hr>
		<h4> Current Projects </h4>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-striped">
			 	<thead class="thead-dark">
			 		<tr>
			 			<th>Project Name</th>
			 			<th>Project Stage</th>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<!-- iterating variable - auto iterate list, need to define java obj -->
			 		<!-- html var : java var(mapped via Model in controller) -->
			 		<tr th:each ="aProject : ${projectsList}"> 
			 			<td th:text="${aProject.name}"/>
			 			<td th:text="${aProject.stage}"/>
			 		</tr>
			 	</tbody>
		 	</table>
			</div>
		
		
			<div class="col-md-4">
				<canvas id="myChart" height="50" width="50"></canvas>
				<!-- getting data via Controller/model from DB (via crud interface) and pass to JS, syntax for JS data access -->
				<script>
					var chartData = "[[${projectStatusCnt}]]"
				</script>
			</div>
			
		</div>
	</div>
	
	<div class="container">
		<h4> Current Employees </h4>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-bordered table-striped">
			 	<thead class="thead-dark">
			 		<tr>
			 			<th>First Name</th>
			 			<th>Last Name</th>
			 			<th>Project Count</th>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<!-- th:each-> iterating variable - auto iterate list, need to define java obj -->
			 		<!-- html var : java var(mapped via Model in controller) -->
			 		<tr th:each ="aEmployee : ${employeesList}"> 
			 		<!-- if below's from DB: field names must match DB cols OR (if query) IEmployeeRepository/EmployeeProject/get* -->
			 			<td th:text="${aEmployee.firstName}"/>
			 			<td th:text="${aEmployee.lastName}"/>
			 			<td th:text="${aEmployee.projectCount}"/>
			 		</tr>
			 	</tbody>
		 	</table>
			</div>
		</div>

	</div>

<script type="text/javascript" th:src="@{/js/myChart.js}"></script>

</body>
 
</html>